￼html {
    font-size: 16px;
    /*para responsive*/
}

img {
    max-width: 100%;/* en % para responsive*/
}

body {
    /**/
    padding: 2%;
    background-color: #A7DBD8;
    font-family: 'Expletus Sans', cursive;
    font-size: 62.5%;
    /*1em = 10px*/
    /*para responsive cambio de px=>rem*/
}

header {
    background-color: #F38630;
    height: 12em;
}

header ul {
    margin-top: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 0.5%;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: white;
}



.fotosMiembros{}

.discografia{}

.videos{}





.centrado {
    /**/
    
    width: 100%;
    /*Esto es por el responsive*/
    /*background-color: #E0E4CC;*/
    
    margin: 0 auto;
}

/*PREGUNTAR ESTO
.fondogris {
    
    
    background-color: #E0E4CC;
    padding: 5px 10px;
}*/

h1 {
    /**/
    
    text-align: center;
    color: white;
    font-family: 'Ribeye Marrow', cursive;
    
}

h2 {
    /**/
    
    border-bottom: 0.5% solid #F38630;
    font-family: 'Lobster', cursive;
}

h1,
h2,
h3,
h4 {
    /**/
    
    color: #F38630;
}

.logo {
    /**/
    
    width: 45%;
    display: block;
    margin: 0 auto;
}

li img {
    /**/
    
    width: 5.5%;
    height: auto;
    vertical-align: middle;
    margin: 0.5%;
    border: 4px solid #A7DBD8;
    padding: 0.5%;
    background-color: #F38630;
}

.cantantes {
    /**/
    
    list-style-type: none;
}

.lugar {
    color: grey;
}








/*Formulario*/

#contacto {
    /**/
    
    width: 25em;
    margin: 0 auto;
}

input,
select {
    /**/
    
    display: block;
    width: 95%;
    margin-bottom: 15px;
}

input[type=submit],
input[type=reset] {
    /**/
    
    display: inline;
    width: 10em;
}

input[type=reset] {
    /**/
    
    margin-right: 5em;
}

input[type=checkbox],
input[type=radio],
label[for=hombre],
label[for=mujer],
label[for=newsletter] {
    display: inline;
}